@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* Rounded rectangle container for the form */
.form-container {
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* select style */
select {
    background-color: #272727;
    color: #b3b3b3;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* option styles */
select option[value="red"] {
    background-color: #760000;
    color: red;
}
select option[value="orange"] {
    background-color: #ac3f00;
    color: #ff8000;
}
select option[value="yellow"] {
    background-color: #bd9100;
    color: #fbff00;
}
select option[value="green"] {
    background-color: #006e04;
    color: #09ff00;
}
select option[value="blue"] {
    background-color: #0022aa;
    color: #1170ff;
}
select option[value="indigo"] {
    background-color: #330099;
    color: #6532ff;
}
select option[value="violet"] {
    background-color: #5a0092;
    color: #d900ff;
}

/* table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table td[value="red"] {
    background-color: #760000;
    color: #ff0000;
}
table td[value="orange"] {
    background-color: #ac3f00;
    color: #ff8000;
}
table td[value="yellow"] {
    background-color: #bd9100;
    color: #fbff00;
}
table td[value="green"] {
    background-color: #006e04;
    color: #09ff00;
}
table td[value="blue"] {
    background-color: #0022aa;
    color: #1170ff;
}
table td[value="indigo"] {
    background-color: #330099;
    color: #6532ff;
}
table td[value="violet"] {
    background-color: #5a0092;
    color: #d900ff;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="checkbox"] {
    padding: 10px;
    margin: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a:link, a:visited {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4c7faf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

a:hover {
    padding: 10px 20px;
    background-color: #3b6994;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}